# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Result directory
result/

# IDE specific files
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env
